<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': loveIts > 0,
                'list-group-item-danger': loveIts < 0}">
  <div>
	<div [ngStyle]="{color: getColor()}" class="titre">{{ title | uppercase }}</div>
	<div [ngStyle]="{color:'gray'}" class="date_creat">{{ created_at | date: 'short'  }}</div>
  </div>
  <p>{{ content }}</p>
  <button 	class="btn btn-success"  
				(click)="onLike()">Love it !</button>
  <button 	class="btn btn-danger"  
        (click)="onDislike()">Don't love it!</button>
  <button 	class="btn btn-danger pull-right supprimer"  
        (click)="onDelete()">Supprimer Post</button>
</li>